body{
    background-image: url(images.jpeg);
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
}
h1{
    background:white;
    color: black;
    text-align: center;
    padding: 100px;
    border-radius: 10px;
    font-size: 55px;
    margin: 50px;
    box-shadow: rgb(219, 15, 15);
    border-radius: 50px;
}
.start{
    background-color: skyblue;
    padding: 40px;
    font-size: 30px;
    text-align: center;
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    border-radius: 80px;
    box-shadow: brown;
border: 1px solid gray
}
button{
    background-color: royalblue;
    color: white;
    padding: 12px 25px;
    font-size: 18px;
    border-radius: 6px;
    cursor: pointer;
margin-top: 20px;
}
button:hover{
    background-color: darkblue;
}
.profile{
    border-radius: 50%;
    cursor: pointer;
    object-fit: cover; 
}