html,
body {
    min-height: 100%;
    background-color: #000;
}

body {
    min-height: 100vh;

    background-image: url("images/cinema.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
/* ============================= */
/* LOGIN CONTAINER */
/* ============================= */

.container {

    position: relative;
    width: 90%;
    max-width: 380px;
    margin: 40px auto 80px;
    padding: 25px;
    background: rgba(255, 255, 255, 0.95);
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);

    display: flex;
    flex-direction: column;
    align-items: center;

}


/* ============================= */
/* LOGIN HEADING */
/* ============================= */

.login-page h1 {
    margin-bottom: 15px;

    font-size: 40px;

    color: black;
}


/* ============================= */
/* INPUT FIELDS */
/* ============================= */

.container input {
    width: 100%;

    padding: 11px;

    margin: 8px 0;

    border: 1px solid #000000;

    border-radius: 8px;

    background: #f8f8f8;

    font-size: 16px;

    transition: 0.3s;
}

.container input:focus {
    outline: none;

    border-color: #e50914;

    box-shadow: 0 0 8px rgba(229, 9, 20, 0.4);
}


/* ============================= */
/* FORGOT PASSWORD */
/* ============================= */

.forgot-password {
    margin: 8px 0;
}

.forgot-password a {
    color: #005eff;

    text-decoration: none;
}

.forgot-password a:hover {
    text-decoration: underline;
}


/* ============================= */
/* LOGIN BUTTON */
/* ============================= */

.login-btn {
    width: 100%;

    padding: 11px;

    margin-top: 10px;

    border: none;

    border-radius: 8px;

    background: #e50914;

    color: white;

    font-size: 16px;

    cursor: pointer;

    transition: 0.3s;
}

.login-btn:hover {
    background: #b20710;
}


/* ============================= */
/* OR */
/* ============================= */

.divide {
    margin: 15px 0;

    font-weight: bold;

    color: black;
}


/* ============================= */
/* SIGN UP */
/* ============================= */

.signup-button {
    margin-bottom: 12px;

    text-align: center;

    color: black;
}


/* ============================= */
/* GOOGLE BUTTON */
/* ============================= */

.google-btn {
    width: 100%;

    padding: 11px;

    border-radius: 8px;

    border: 1px solid #ccc;

    background: white;

    cursor: pointer;

    transition: 0.3s;
}

.google-btn:hover {
    background: #f3f3f3;
}